<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_layout.css}" href="../static/css/main_layout.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login&create_account_layout.css}" href="../static/css/login&create_account_layout.css"/>
    <title>Spring Security Example </title>
</head>
<body>
<a th:href="@{login.html}"><div class="logo"><span class="bank_name">Bank app</span><span class="dot">.</span></div></a>

<div class="login_menu">
    <h2>Login</h2>
<form action="#" th:action="@{/createAccount}" th:object="${bankAccount}" method="post">
    <div class="row"><div class="login_menu_left_col">First name:</div><div class="login_menu_right_col"><input class="textbox" type="text" th:field="*{firstName}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Last name:</div><div class="login_menu_right_col"><input class="textbox" type="text" th:field="*{lastName}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Address:</div><div class="login_menu_right_col"><input class="textbox" type="password" th:field="*{address}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Town:</div><div class="login_menu_right_col"><input class="textbox" type="text" th:field="*{town}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">E-mail:</div><div class="login_menu_right_col"><input class="textbox" type="password" th:field="*{email}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Password:</div><div class="login_menu_right_col"><input class="textbox" type="text" th:field="*{password}"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Repeat password:</div><div class="login_menu_right_col"><input class="textbox" type="password" /> </div></div>
    <!--<div class="error" th:if="${param.error}">-->
    <!--Invalid username and password.-->
<!--</div>-->
    <div class="login_menu_submit"><input type="submit" value="Sign In"/></div>
</form>
</div>
</body>
</html>