<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank app main page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" href="../static/css/layout.css"/>
    <title>Bank app</title>
</head>
<body>
<a th:href="@{login.html}"><div class="logo"><span class="bank_name">Bank app</span><span class="dot">.</span></div></a>
<div class="user_login"><span th:remove="all">Zalogowany jako [[${#httpServletRequest.remoteUser}]]</span></div>
<div class="row">
    <a href="index.html"><div class="menu">Stan konta</div></a>
    <a href="transaction.html"><div class="menu">Przelew</div></a>
    <a href="constant_transaction.html"><div class="menu">Przelewy stałe</div></a>
    <a href="history.html"><div class="menu">Historia transakcji</div></a>
</div>
<div class="working_space">
    <table>
        <tr><td class="data">Data</td><td class="receiver">Odbiorca</td><td class="description">Opis</td><td class="value">Kwota</td></tr>
        <tr th:remove="all" class="new_record"><td>Data</td><td>Odbiorca</td><td>Opis</td><td>Kwota</td></tr>
        <tr th:each="history : ${history}" class="new_record">
            <td th:text="${history.data}">Data</td>
            <td th:text="${history.accountNumber} + ${history.address}">Numer konta/odbiorca</td>
            <td th:text="${history.description}">Opis</td>
            <td th:text="${history.description}">Kwota</td>
        </tr>
    </table>

</div>

</body>
</html>