<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank app main page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" href="../static/css/main_layout.css"/>
    <title>Bank app</title>
</head>
<body>
<a th:href="@{/login}"><div class="logo"><span class="bank_name">Bank app</span><span class="dot">.</span></div></a>
<div class="user_login"><span th:remove="all">Zalogowany jako [[${#httpServletRequest.remoteUser}]]</span></div>
<div class="row">
    <a href="index.html"><div class="menu">Stan konta</div></a>
    <a href="transaction.html"><div class="menu">Przelew</div></a>
    <a href="constant_transaction.html"><div class="menu">Przelewy stałe</div></a>
    <a href="history.html"><div class="menu">Historia transakcji</div></a>
</div>
<div class="working_space"></div>

</body>
</html>