<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_layout.css}" href="../static/css/main_layout.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login&create_account_layout.css}" href="../static/css/login&create_account_layout.css"/>
    <title>Spring Security Example </title>
</head>
<body>
<a th:href="@{login.html}"><div class="logo"><span class="bank_name">Bank app</span><span class="dot">.</span></div></a>

<div class="login_menu">
    <h2>Login</h2>
<form th:action="@{/login}" method="post">
    <div class="column"><div class="login_menu_left_col">User Name:</div><div class="login_menu_right_col"><input class="textbox" type="text" name="username"/> </div></div>
    <div class="column"><div class="login_menu_left_col">Password:</div><div class="login_menu_right_col"><input class="textbox" type="password" name="password"/> </div></div>
<div class="error" th:if="${param.error}">
    Invalid username and password.
</div>
<div class="error" th:if="${param.logout}">
    You have been logged out.
</div>
    <div class="login_menu_submit"><input type="submit" value="Log In"/></div>
    <a th:href="@{/create_account}"><div class="sign_in">You have not an account? <strong>Sign up!</strong></div></a>
</form>
</div>
</body>
</html>