<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <title>Spring Security Example </title>
</head>
<body>
<div class="logo"><span class="bank_name">Bank app</span><span class="dot">.</span></div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="login_menu">
    <h2>Login</h2>
<form th:action="@{/login}" method="post">
    <div class="row"><div class="login_menu_left_col">User Name:</div><div class="login_menu_right_col"><input type="text" name="username"/> </div></div>
    <div class="row"><div class="login_menu_left_col">Password:</div><div class="login_menu_right_col"><input type="password" name="password"/> </div></div>
    <div class="login_menu_submit"><input type="submit" value="Sign In"/></div>
</form>
</div>
</body>
</html>